@font-face {
  src: url('/fonts/Pretendard-Thin.woff2');
  font-weight:100;
  font-family:'Pretendard';
}
@font-face {
  src: url('/fonts/Pretendard-Regular.woff2');
  font-weight:400;
  font-family:'Pretendard';
}
@font-face {
  src: url('/fonts/Pretendard-Medium.woff2');
  font-weight:500;
  font-family:'Pretendard';
}
@font-face {
  src: url('/fonts/Pretendard-Bold.woff2');
  font-weight:700;
  font-family:'Pretendard';
}
@font-face {
  src: url('/fonts/Pretendard-ExtraBold.woff2');
  font-weight:800;
  font-family:'Pretendard';
}